* {
    margin: 0;
    padding: 0;
}
body {
    background: #DADADA url(images/bg_body.gif) left top repeat-x;
    margin: 0 auto;
    font-family: verdana, arial, sans-serif;
}

.currbox_wrapper {
    margin: 10px;
}
.currbox {
    width: 300px;
    height: 20px;
    padding: 6px 0 0 10px;
    margin: 0;
    background-color: #ffc06f;
}
input[type=text] {
    margin: 8px;
    padding: 6px 0 0 10px;
    background-color: #ffc06f;
    border: 0;
    color: #52514e;
    font-weight: bold;
    font-size: 18px;
    border: 2px solid #f28900;
}
input[type=text]:focus {
    border: 2px solid #52514e;
    margin: 8px;
}
#exchanger {
    font-size: inherit;
    color: inherit;
    font-weight: inherit;
    background-color: inherit;
    margin-bottom: 20px;
    margin-left: 10px;
}
#exchanger td {
    padding: 10px;
}
.currbox p {
    margin: 0;
    padding: 0;
}
.currbox:hover {
    background-color: #ddd;
}
.currcode {
    text-transform: uppercase;
}
.currbox_right {
    float: right;
}
#currsel_out {
    position: absolute;
    visibility: hidden;
}
#currsel_in {
    position: absolute;
    visibility: hidden;
}
.currsel_entry {
    width: 300px;
    height: 20px;
    padding: 6px 0 0 10px;
    background-color: #ffc06f;
}
.currsel_entry:hover {
    background-color: #ddd;
}

input[type=submit]{
    padding: 5px 20px;
    min-width: 80px;
    margin-left: 30px;
    color: #42603e;
    background: none;
    border: 3px solid #f28100;
}
input[type=submit]:hover {
    color: #017d4d;
    cursor: pointer;
}

/*---------------------------------
CONTENT
-----------------------------------*/
#content {
    margin: 0;
    padding: 0;
    width: 980px;
    background: url('images/panel_tile.png') repeat;
    width: 770px;
    min-height: 700px;
    height: 100%;
    left: 0px;
}
#content_sideshadow {
    background: url('images/panel_border.png') repeat-y top right;
    height: 100%;
    min-height: 700px;
    padding: 0;
}
.content_box {
    width: 750px;
    font-size: 12px;
    color: #42413e;
    border-bottom: 1px dashed #52514e;
    padding-bottom: 10px;
    /* WTFFF??? */
    padding-top: 1px;
}
.content_box ul {
    margin: 0 0 8px 40px;
}
.content_box p, .content_box h4 {
    margin: 0 0 8px 20px;
}
.content_box label {
    display: block;
    width: 35%;
    min-width: 5em;
    margin: 0 0 0px 30px;
}
.content_box input[type=text] {
    margin-top: 0;
    width: 250px;
    display: block;
}
.indent_form input[type=text] {
    margin-left: 30px;
}
#acc_num {
    display: inline;
    float: left;
}
#acc_sort {
    display: inline;
    float: left;
}
#input_sort_code {
    width: 100px;
    display: inline !important;
}
#input_account_number {
    display: inline !important;
}

.content_box h3 {
    background: url('images/panel_tile_header.png') repeat;
    padding: 10px 0 10px 10px;
    margin: 10px 0 20px 10px;
    font-variant: small-caps;
    font-size: 15px;
    border-radius: 4px;
}
.content_box form {
    margin-bottom: 10px;
    margin-top: 20px;
}
.content_box a {
    color: #42603e;
    text-decoration: none;
}
.content_box a:hover {
    color: #017d4d;
}
.indent {
    padding-left: 10px;
}
.display_data {
    font-size: inherit;
    color: inherit;
    font-weight: inherit;
    background-color: inherit;
    border: 2px solid #f2a800;
    background-color: #ffa938;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 40px;
}
.display_data th, .display_data td {
    padding: 10px;
    padding-right: 30px;
    text-align: left;
}

/*---------------------------------
LINKS
-----------------------------------*/
#main_pane {
    position: absolute;
    top: 140px;
}
#links_bg {
    background-color: #52514e;
    width: 980px;
    min-height: 700px;
}

#links {
    width: 160px;
    position: absolute;
    top: 300px;
    left: 800px;
    padding-bottom: 0;
    font-size: 12px;
    color: #999;
}
#links a {
    display: block;
    text-decoration: none;
    font-weight:bold;
    color: #fff;
}
#links a:hover {
    color: #4aa897;
}
#links ul li {
    list-style: square outside url('images/list_marker.png');
    padding: 1px 0 0 12px;
    margin:10px 0 0 0;
}

.image_left img, .image_right img {
    margin: 5px 15px 0px 0px;
    padding: 5px;
    margin-left: 30px;
    border: 1px solid #f28900;
    border-radius: 5px;
}
.image_left img:hover, .image_right img:hover {
    border: 1px solid #52514e; 
    background: none;
}
.image_right img{
}

/*---------------------------------
FLUFF
-----------------------------------*/
#flower {
    position: absolute;
    z-index: 1;
    top: 120px;
    left: 750px;
}
#header {
    margin: 0;
    padding: 0;
    display: block;
    vertical-align: bottom;
}
#skyline {
    position: absolute;
    margin-bottom: 0;
    padding-bottom: 0;
    left: 978px;
    top: 70px;
}

#eu-conference {
    margin-top: 20px;
    margin-left: -10px;
}
